.newProduct {
  flex: 4;
}

.addProductTitle {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
  color: lightgray;
  font-size: 20px;
}

.top,
.bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
}

.left {
  flex: 1;
  text-align: center;
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 40px;
}

.right {
  flex: 2;
}

.addProductForm {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.formInput {
  width: 40%;
}

.icon {
  cursor: pointer;
}

.kkcc {
  margin-top: 100px;
}

.addProductItem {
  width: 30%;
}

.addProductItem > label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.addProductItem > input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}
.addProductItem > label > button {
  padding: 0.5em 0.75em;
  color: #999;
  font-size: 14px;
  line-height: normal;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  margin-right: 1px;
  display: flex;
  align-items: center;
  height: 30px;
}

.addProductItem > select {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

.addProductButton {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
