.tableCell {
  font-weight: 500;
}

.cellWrapper {
  display: flex;
  align-items: center;
}

.status {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.paid {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
.상품준비중 {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}
