.newList {
  flex: 4;
}

.addListTitle {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
  color: lightgray;
  font-size: 20px;
}

.addListForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.addListItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addListItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addListItem > input {
  padding: 10px;
}

.addListItem > select {
  padding: 10px;
}

.addListButton {
  height: 30px;
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
